{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}

    {% if category is not defined %}
        <h1 class="text-center my-3">Créer une catégorie</h1>
    {% else %}
        <h1 class="text-center my-3">Modifier la catégorie {{ category.name }}</h1>
    {% endif %}

    <div class="row">
        <div class="col-4 mx-auto my-3">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}