<div class="row">
    <p class="d-flex justify-content-around">
        {% for category in categories %}
            <span class="">
                <a href="#" class="text-decoration-none text-warning">{{ category.name }}</a>
            </span>

        {% endfor %}
    
    </p>

</div>