*, :before, :after {
    marin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: lightgray !important;
}

item-hover:hover {
    color: #ffc107 !important;
    border-bottom: 2px black solid !important;
    transition: ease-in-out 0.1s;
}


.img-custom {
    object-fit: cover !important;
    width: 375px !important;
    height: 210px !important;
}